---
const PROJECTS = [
    {
        title: 'Graphic Design 2021',
        description: 'Selection of my designs crafted for satisfied clients. A period where I completed over 100 projects, affording me the opportunity to cultivate and showcase my creativity, bolstering confidence in my abilities.',
        link: 'https://www.behance.net/gallery/168505035/Graphic-Design-2021',
        image: '/projects/GraphicDesign-2021.webp',
        tags: ['Photoshop', 'After Effects', 'Cinema 4D']
    }
]
---

<article class="grid grid-cols-1 gap-8">
    {PROJECTS.map(({ title, description, image, tags, link }) => (
        <div class="relative group">
            <a href={link} target="_blank" rel="noopener noreferrer" class="block">
                <div class="rounded-xl overflow-hidden shadow-lg transition-transform duration-300 transform-gpu hover:scale-105 relative">
                    <img class="object-cover w-full" src={image} alt={`Screenshot of the project ${title}`} />
                    <div class="absolute bottom-0 left-0 w-full p-6 opacity-0 group-hover:opacity-100 transition-opacity duration-300 backdrop-blur-lg bg-black/60">
                        <h3 class="text-xl font-semibold mb-2 text-white">{title}</h3>
                        <p class="text-[var(--color-white-200)] text-pretty mb-4">{description}</p>
                        <ul class="flex flex-wrap gap-2">
                            {tags.map((tag) => (
                                <li class="border text-sm px-3 py-[6px] rounded-lg flex justify-center items-center border-gray-400 text-gray-400">{tag}</li>
                            ))}
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    ))}
</article>